@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,700&display=swap');

* {
  font-family: 'Garamond', sans-serif;
}
header {
  margin-top: 20%;
  font-size: 50pt;
  text-align: center;
}
#nav {
  color: black;
  font-size: 20pt;
  text-align: center;
}

a {
  color: black;
  text-align: center;
}
