@import url('https://fonts.googleapis.com/css?family=Muli');

body {margin:0}
header {
	display:grid;
	grid-template-rows: 1fr 200px;
	grid-template-columns: 1fr;
	grid-template-areas: 
	"img"
	"nav";
	width: 45vw;
	transform: rotate(-45deg);
	margin: 10vh auto;
}

header > img {
	grid-area: img;
	width: 100%;
}

div {
	margin-bottom: 50px;

}

div > div {
	display: inline-block;
	width: 33vw;
}

div > div> h1 {
	font-size: 5rem;
	text-align: center;
	color: #353B3C;
	font-family: 'helvetica', sans-serif
}

div > div > #subject {
	color: transparent;
        background-image: -webkit-linear-gradient(to left, #9D9BFF, #5EBBFF);
        background-image: linear-gradient(to left, #9D9BFF, #5EBBFF);
        -webkit-background-clip: text;
        background-clip: text;

}

div > #leftarrow {
	display:inline-block;
	float: left;
	width: 33vw;
}

div > #rightarrow {
	display:inline-block;
	float: right;
	width: 33vw;


}
section {
	width: 45vw;
	margin: 0 auto;

}

section > h2 {
	font-size: 4rem;
	font-family: helvetica, sans-serif;
	color: #353B3C;
	text-shadow: 4px 4px 0px #DCDCDC;
}

section > h2:nth-of-type(even) {
	text-align: right;

}

section > p {
	font-family: 'Muli', sans-serif;
	font-size: 1.55rem;
	text-indent: 1.5rem;

}

section > p:nth-of-type(even) {
	text-align: right;
}

#nav {
	grid-area: nav;
	margin-right: 25vw;
	writing-mode: vertical-rl;
	margin-top: 0;
	margin-bottom: 0;
	line-height:1.2;
}

#nav > h2 {
	font-family: helvetica;
	font-size: 1.6rem;
	border-left: 6px solid rgba(51, 51, 51, 1);
	color: #333;
	padding: 0;
	margin: 0;
	text-indent: 5px;
}

#nav > ul {
	padding: 0;
	font-family: helvetica;
	font-size: 1.35rem;
	list-style: none;
	margin: 0;
	text-indent: 5px;
}

#nav > ul > li {
	border-left: 6px solid rgba(51, 51, 51, 1);
}

a {
	text-decoration: none;
	color: #333;
	font-weight: 600;
}

section {
	font-family: helvetica;
/*	width: 60vw;
	margin: 100px auto;*/
}

@media (max-width: 1300px){
	div > div > h1 {
		font-size: 3.7rem;
	}
}

@media (max-width: 1000px) {
        div > div > h1 {
                font-size: 3.3rem;
        }
	section {
		width: 65vw;
	}
	header {
		grid-template-rows: 1fr 170px;
		width: 60vw;
	}
	#nav > h2 {
		font-size: 1rem;
		border-left: 3px solid rgba(51,51,51,1);
	}
	#nav > ul {
		font-size: .95rem;	
	}
	#nav > ul > li {
		border-left: 3px solid rgba(51,51,51,1);
	}
}
@media (max-width:755px) {
        div {
		margin-top: -30px;
	
	}
	div > div > h1 {
                font-size: 4rem;
        }
        div > div {
                width: 100vw;
        }
        div > #leftarrow {
                display: none;
        }
        div > #rightarrow {
                display: none;
        }
	section {
		width: 85vw;
	}
	header {
                grid-template-rows: 1fr 100px;
		width: 80vw;
		transform: rotate(-90deg);
        }
	#nav > h2 {
                font-size: 1rem;
                border-left: 3px solid rgba(51,51,51,1);
        }
	section > h2 {
		font-size: 3rem;
	}
        #nav > ul {
                font-size: .95rem;
        }
        #nav > ul > li {
                border-left: 3px solid rgba(51,51,51,1);
        }
}

/*
section > div {
	display: inline-block;
	background-color: #fff;
	width: 35%;
	box-shadow: 8px -8px 0 0 #0FA3B1;
	transform: rotate(45deg);
}

section > div > p {
	font-size: 1.2rem;
	float: left;
	margin-right: 7%;
	margin-left: 10%;
	margin-top: 12.5%;
	text-indent: 1.2rem;
	transform:rotate(-45deg);
	text-align: center;
}


p > b {
	color: #0FA3B1;

}

section > h1 {
	font-size: 2.25rem;
	margin-top: 120px;
	margin-bottom: 70px;
	color: #0FA3B1;
}
section > p {
	font-size: 1.2rem;
	margin-right: 10%;
	margin-left: 10%;
	text-indent: 1.2rem;
	text-align: center;
}

#events {
	margin-left: 10%;
}

section > #apps {
	width: 45%;
	margin-top: -10%;
	margin-left: 25%;
}

section > #events {
	width: 40%;

}

section > #apps > p {
	float:left;
	margin-right: 7%;
	text-align: center;
}

@media (max-width: 1000px) {
	section > div {
		display: contents;
	}
	section > div > p {
		transform: rotate(0deg);
		margin: 0 auto;
		width: 95%;
	}
}*/
